In [2]:
#counter
from collections import Counter

In [3]:
l = [1,1,1,112,2,2,2,2,2,3,3,3,4,4,4,45,5,5,]

In [4]:
Counter(l)

Counter({1: 3, 112: 1, 2: 5, 3: 3, 4: 3, 45: 1, 5: 2})

In [5]:
s = 'assssssssssssscccccccccvvvvvvvvvvjnnnnnnnnnnnaaaaaa'

In [7]:
Counter(s)

Counter({'a': 7, 's': 13, 'c': 9, 'v': 10, 'j': 1, 'n': 11})

In [8]:
s = 'How many times each word show up in this sentense word word show up up'

In [9]:
Words = s.split()

In [10]:
Counter(Words)

Counter({'How': 1,
         'many': 1,
         'times': 1,
         'each': 1,
         'word': 3,
         'show': 2,
         'up': 3,
         'in': 1,
         'this': 1,
         'sentense': 1})

In [12]:
c = Counter(Words)

In [15]:
c.most_common(3)

[('word', 3), ('up', 3), ('show', 2)]

sum(c.values())

In [16]:
sum(c.values())

15

In [17]:
list(c)

['How',
 'many',
 'times',
 'each',
 'word',
 'show',
 'up',
 'in',
 'this',
 'sentense']

In [18]:
set(c)

{'How',
 'each',
 'in',
 'many',
 'sentense',
 'show',
 'this',
 'times',
 'up',
 'word'}

In [19]:
dict(c)

{'How': 1,
 'many': 1,
 'times': 1,
 'each': 1,
 'word': 3,
 'show': 2,
 'up': 3,
 'in': 1,
 'this': 1,
 'sentense': 1}

In [22]:
c.items()

dict_items([('How', 1), ('many', 1), ('times', 1), ('each', 1), ('word', 3), ('show', 2), ('up', 3), ('in', 1), ('this', 1), ('sentense', 1)])

In [2]:
from collections import defaultdict

In [24]:
d = {'k1':1}

In [26]:
d['k1']

1

In [27]:
d['k2']

KeyError: 'k2'

In [3]:
d = defaultdict(object)

In [6]:
d['one'] = 1

In [32]:
for item in d:
    print (item)

one

In [10]:
d = defaultdict(lambda: 0)

In [11]:
d['one']

0

In [14]:
d['two'] = 2

In [15]:
print(d)

defaultdict(<function <lambda> at 0x000001C543A19510>, {'one': 0, 'two': 2})

In [13]:
d = {}
d['a']=1
d['b']=2
d['c']=3
d['d']=4
d['e']=5

In [2]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [14]:
for k,v in d.items():
    print (k,v)

a 1
b 2
c 3
d 4
e 5

In [9]:
from collections import OrderedDict

In [10]:
d = OrderedDict()

In [15]:
 t = (1,2,3)

In [16]:
t[0]

1

In [3]:
from collections import namedtuple

In [4]:
D = namedtuple('Dog','age breed name')

In [6]:
sam = D(age=2,breed = 'Lab', name = 'sammy')

In [7]:
sam.age

2

In [1]:
import datetime

In [5]:
t = datetime.time(5,25,1)

In [6]:
t

datetime.time(5, 25, 1)

In [7]:
print(t)

05:25:01

In [8]:
print(datetime.time.min)

00:00:00

In [9]:
print(datetime.time.max)

23:59:59.999999

In [10]:
print(datetime.date.resolution)

1 day, 0:00:00

In [2]:
today= datetime.date.today()

In [3]:
print(today)

2019-09-10

In [56]:
datetime.timezone

datetime.timezone

In [4]:
t = datetime.date

In [5]:
print(t)

<class 'datetime.date'>

In [42]:
datetime.time

datetime.time

In [57]:
today.day

10

In [60]:
print(datetime.date.resolution)

1 day, 0:00:00

In [61]:
d1 = datetime.date(2015,3,11)

In [62]:
print(d1)

2015-03-11

In [63]:
d2 = d1.replace(year = 1990)

In [64]:
print(d2)

1990-03-11

In [65]:
d1

datetime.date(2015, 3, 11)

In [66]:
d2

datetime.date(1990, 3, 11)

In [67]:
d1-d2

datetime.timedelta(days=9131)

In [6]:
f = datetime.date.today()

In [7]:
print(f)

2019-09-10

In [2]:
d1 = datetime.date.today()

In [3]:
print(d1)

2019-09-10

In [4]:
import pdb

In [ ]:
x = [1,3,4]
y=2
z=3
result = y+z
print(result)
pdb.set_trace()
result2 =y+x
print(result2)

5
--Return--
> <ipython-input-7-bada6b69b25b>(6)<module>()->None
-> pdb.set_trace()
(Pdb) x
[1, 3, 4]
(Pdb) y
2
(Pdb) z
3
(Pdb) y+z
5

In [1]:
import timeit

In [2]:
'0-1-2-3-4-5-............-99'

'0-1-2-3-4-5-............-99'

In [6]:
timeit.timeit('"-".join(map(str,range(100))) ', number = 10000)

0.2726383000000112

In [9]:
import re

In [11]:
patterns = ['term1','term2']

In [13]:
text = 'this is a string with term1, but not other term'

In [14]:
re.search('Hello','Hello world')

In [15]:
for pattern in patterns:
    print('Searching for "%s" in:\n "%s"\n' %(pattern,text))
    
    #Check for match
    if re.search(pattern,text):
        print('Match was found. \n')
    else:
        print('No Match was found.\n')

Searching for "term1" in:
 "this is a string with term1, but not other term"

Match was found.

Searching for "term2" in:
 "this is a string with term1, but not other term"

No Match was found.

In [17]:
print(re.search('h','w'))

None

In [18]:
match = re.search(patterns[0], text)

In [19]:
print(match)

<re.Match object; span=(22, 27), match='term1'>

In [20]:
type(match)

re.Match

In [21]:
match.start()

22

In [22]:
match.end()

27

In [24]:
split_term = '@'
phrase = 'what is your email,is it hello@gmail.com'

In [25]:
re.split(split_term,phrase)

['what is your email,is it hello', 'gmail.com']

In [28]:
len(re.findall('match','here is one match, here is another match'))

2

In [29]:
def multi_re_find(patterns,phrase):
    '''
    Takes in a list of regex patterns
    Prints a list of all matches
    '''
    for pattern in patterns:
        print('Searching the phrase using the re check: %r' %(pattern))
        print(re.findall(pattern,phrase))
        print('\n')